@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'kanit';
}

.container::after {
    content: '';
    clear: both;
    display: table;
    
    
}

h1 {
    color: red;
    padding: 20px 0px 20px 0px;

}

div {
    color: white;
    background-color: black;
    height: 25%;
 
    

}

.riquadro {
    float: left;
    width: 31.5%;
    margin-top: 2rem;
    margin: 0.5rem;
    text-align: left;
    box-shadow: 5px 5px 5px grey;
    font-size: small;

}
    
.testo {
    padding: 1px;
    
    

}


img {
    width: 25%;
    float: left;
    
    

}
div h4{
    color: #008AE1;
}


