@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'kanit';
}

.container::after {
    content: '';
    clear: both;
    display: table;
    
    
}

h1 {
    color: red;
    /* font-family: 'kanit'; */
    padding: 20px 0px 20px 0px;

}

div {
    color: white;
    background-color: black;
    height: 25%;
    font-size: small;

}

.riquadro {
    float: left;
    width: 33%;
}
    



img {
    height: 100px;
    float: left;

}
div h4{
    color: #008AE1;
    font-size: small;
}


